= render "shared/header"
.ui.text.container.center.aligned.grid
  - if flash[:alert] # ジャンルがないときはエラー
    %h3.ui.red.message{style: "margin-top: 30px; color: red;"}= flash[:alert]
  - else
    %h3{style: "margin-top: 30px"} どのジャンルから選ぶ？
  - @decide_menus.each_with_index do |menu, i|
    - if i == 0 && menu.present? # 1回目の処理は全てのランダムのメニューを取得するため除外
      = link_to "ランダム", random_menu_decide_menu_path(menu.id), class: "fluid ui gray big button"
    - elsif menu.present? # ジャンルがあればボタン表示
      = link_to menu.genre, random_genre_menu_decide_menu_path(menu.id), class: "fluid ui gray big button", style: "margin-top: 40px"