= render "shared/header"
.ui.text.container.center.aligned.grid
  %h3{style: "margin-top: 40px"} どのジャンルから選ぶ？
  %a.fluid.ui.gray.big.button
    ランダム
  %a.fluid.ui.yellow.big.button{style: "margin-top: 40px"}
    主食
  %a.fluid.ui.red.big.button{style: "margin-top: 40px"}
    主菜
  %a.fluid.ui.green.big.button{style: "margin-top: 40px"}
    野菜
  %a.fluid.ui.orange.big.button{style: "margin-top: 40px"}
    一品もの
  %a.fluid.ui.gray.pink.big.button{style: "margin-top: 40px"}
    デザート
  %a.fluid.ui.purple.big.button{style: "margin-top: 40px"}
    その他
  %a.fluid.ui.brown.big.button{style: "margin-top: 40px"}
    外食