%div
  = render "shared/header"
  .ui.center.aligned.grid
    .sixteen.wide.column
      .ui.shape
        .sides
          .active.side
            .ui.centered.card
              .image
                = image_tag @menu.menu_images[0].image.url, style: "height: 230px;"
          .side
            .ui.centered.card
              .image
                = image_tag 'dummyhuman.png', style: "height: 230px;"
          .side
            .ui.centered.card
              .image
                = image_tag 'dummyhuman.png', style: "height: 230px;"
    .sixteen.wide.column
      .ui.ignored.icon.direction.buttons
        .ui.button{id: "left-btn"}
          %i.left.long.arrow.icon
        .ui.button{id: "right-btn"}
          %i.right.long.arrow.icon
