= render "shared/header"
.ui.text.container.center.aligned.grid{style: "margin-top: 30px"}
  %h2 日付指定検索
  .field.ui.calendar.required
    %lavel
    .ui.input.left.icon
      %i.calendar.icon
      %input{type: "text", name: "date", placeholder: "日付"}
.ui.stackable.column.container.grid{style: "padding-top: 30px;"}
  .column
    .ui.dividing.header 2月2日
    .ui.dividing.header 2月3日
    .ui.dividing.header 2月4日

:javascript
  $('.ui.calendar').calendar({
    type: 'date',
    formatter: {
      date: function (date) {
        var day = ('0' + date.getDate()).slice(-2);
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();
        return year + '/' + month + '/' + day;
      }
    }
  });