<div>
<div class="ui orange inverted menu">
  <div class="ui dropdown item">
  <% if current_user.icon.present? %>
    <%= image_tag current_user.icon.url, class: "ui mini circular image" %>
  <% else %>
    <%= image_tag 'dummyhuman.png', class: "ui mini circular image" %>
  <% end %>
  &nbsp;name
  <i class="dropdown icon"></i>
  <div class="menu">
      <%= link_to "アカウント編集", edit_user_path(current_user.id), class: "item" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "item" %>
    </div>
  </div>
  <a class="item">メニュー</a>
  <a class="item">投稿</a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
</div>